
.box-header
{
    img
   {  
    max-width: 60px;
    max-height: 200px;
 
    padding-left: 15px;
   }
    i,span{
    color:white;
    margin-top:15px;
    }
  
    a:hover {
        background-color:#e7e7e7;
        }

}
